<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('../layouts/head', { title: 'Dashboard | Nom Nom' }) %>
    <style>
      button {
        background-color: transparent;
        border: none;
        color: #4CAF50;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 12px;
      }
  
      .chart-btn:hover {
        background-color: #4CAF50;
        color: white;
      }

      .carousel-item:hover {
        cursor: pointer;
      }
    </style>
</head>
<body class="g-sidenav-show   bg-gray-100">
    <div class="min-height-300 bg-primary position-absolute w-100"></div>
    <%- include('../partials/sidebar') %>
    <main class="main-content position-relative border-radius-lg ">
        <!-- Navbar -->
        <%- include('../partials/navbar') %>
        <!-- End Navbar -->
        <div class="container-fluid py-4">
          <div class="row">
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
              <div class="card">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-8">
                      <div class="numbers">
                        <p class="text-sm mb-0 text-uppercase font-weight-bold">Today's Money</p>
                        <h5 class="font-weight-bolder">
                          $53,000
                        </h5>
                        <p class="mb-0">
                          <span class="text-success text-sm font-weight-bolder">+55%</span>
                          since yesterday
                        </p>
                      </div>
                    </div>
                    <div class="col-4 text-end">
                      <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                        <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
              <div class="card">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-8">
                      <div class="numbers">
                        <p class="text-sm mb-0 text-uppercase font-weight-bold">New Clients</p>
                        <h5 class="font-weight-bolder">
                          +3,462
                        </h5>
                        <p class="mb-0">
                          <span class="text-danger text-sm font-weight-bolder">-2%</span>
                          since last quarter
                        </p>
                      </div>
                    </div>
                    <div class="col-4 text-end">
                      <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                        <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
              <div class="card">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-8">
                      <div class="numbers">
                        <p class="text-sm mb-0 text-uppercase font-weight-bold">Today's Users</p>
                        <h5 class="font-weight-bolder">
                          2,300
                        </h5>
                        <p class="mb-0">
                          <span class="text-success text-sm font-weight-bolder">+3%</span>
                          since last week
                        </p>
                      </div>
                    </div>
                    <div class="col-4 text-end">
                      <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                        <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>            
            <div class="col-xl-3 col-sm-6">
              <div class="card">
                <div class="card-body p-3">
                  <div class="row">
                    <div class="col-8">
                      <div class="numbers">
                        <p class="text-sm mb-0 text-uppercase font-weight-bold">Sales</p>
                        <h5 class="font-weight-bolder">
                          $103,430
                        </h5>
                        <p class="mb-0">
                          <span class="text-success text-sm font-weight-bolder">+5%</span> than last month
                        </p>
                      </div>
                    </div>
                    <div class="col-4 text-end">
                      <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                        <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-7 mb-lg-0 mb-4">
              <div class="card z-index-2 h-100">
                <div class="card-header pb-0 pt-3 bg-transparent">
                  <h6 class="text-capitalize">Sales overview</h6>
                  <p class="text-sm mb-0">
                    <i class="fa fa-arrow-right text-success"></i>
                    <span class="font-weight-bold">Drag mouse to draw to see detail of income !!</span>
                  </p>
                </div>
                <div class="card-body p-3">              
                  <div>
                    <button class="chart-btn" id="day-btn" onclick="updateChart('day')">Day</button>
                    <button class="chart-btn" id="month-btn" onclick="updateChart('week')">Week</button>
                    <button class="chart-btn" id="year-btn" onclick="updateChart('month')">Month</button>
                  </div>
                  <div class="chart">
                    <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="card card-carousel overflow-hidden h-100 p-0">
                <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
                  <div class="carousel-inner border-radius-lg h-100">
                    <div class="carousel-item h-100 active" style="background-image: url('/images/carousel-1.jpg');
          background-size: cover;" onClick="window.location.href='/store'">
                      <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                        <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                          <i class="ni ni-camera-compact text-dark opacity-10"></i>
                        </div>
                        <h5 class="text-white mb-1">Get started with Product Page Today</h5>
                        <p>Let's add some food to our store today !!!</p>
                      </div>
                    </div>
                    <div class="carousel-item h-100" style="background-image: url('/images/carousel-2.jpg');
          background-size: cover;" onClick="window.location.href='/transaction'">
                      <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                        <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                          <i class="ni ni-bulb-61 text-dark opacity-10"></i>
                        </div>
                        <h5 class="text-dark mb-1">Why don't we check Transaction Page Today !!</h5>
                        <p class="text-dark">How many transaction had done today ?</p>
                      </div>
                    </div>
                    <div class="carousel-item h-100" style="background-image: url('/images/carousel-3.jpg');
          background-size: cover;" onClick="window.location.href='/order'">
                      <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                        <div class="icon icon-shape icon-sm bg-white text-center border-radius-md mb-3">
                          <i class="ni ni-trophy text-dark opacity-10"></i>
                        </div>
                        <h5 class="text-dark mb-1">How many Order do we have today ?</h5>
                        <p class="text-dark">Let's check this out !</p>
                      </div>
                    </div>
                  </div>
                  <button class="carousel-control-prev w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-7 mb-lg-0 mb-4">
              <div class="card ">
                <div class="card-header pb-0 p-3">
                  <div class="d-flex justify-content-between">
                    <h6 class="mb-2">Store's Status</h6>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center ">
                    <tbody>
                      <% stores.slice(0, 5).forEach(store => { %>
                        <tr>
                          <td class="w-30">
                            <div class="d-flex px-2 py-1 align-items-center">
                              <div class="">
                                <p class="text-xs font-weight-bold mb-0 overflow-hidden">Store:</p>
                                <h6 class="text-sm mb-0"><%= store.name %></h6>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="text-center">
                              <p class="text-xs font-weight-bold mb-0">OpenTime:</p>
                              <h6 class="text-sm mb-0"><%= store.openTime %></h6>
                            </div>
                          </td>
                          <td>
                            <div class="text-center">
                              <p class="text-xs font-weight-bold mb-0">CloseTime:</p>
                              <h6 class="text-sm mb-0"><%= store.closeTime %></h6>
                            </div>
                          </td>
                          <td class="align-middle text-sm">
                            <div class="col text-center">
                              <p class="text-xs font-weight-bold mb-0">Status:</p>
                              <h6 class="text-sm mb-0"><%= store.status === 1 ? 'Active' : 'Inactive' %></h6>
                            </div>
                          </td>
                        </tr>
                      <% }) %>                   
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="card">
                <div class="card-header pb-0 p-3">
                  <h6 class="mb-0">Categories</h6>
                </div>
                <div class="card-body p-3">
                  <ul class="list-group">
                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                      <div class="d-flex align-items-center">
                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                          <i class="ni ni-mobile-button text-white opacity-10"></i>
                        </div>
                        <div class="d-flex flex-column">
                          <h6 class="mb-1 text-dark text-sm">Devices</h6>
                          <span class="text-xs">250 in stock, <span class="font-weight-bold">346+ sold</span></span>
                        </div>
                      </div>
                      <div class="d-flex">
                        <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
                      </div>
                    </li>
                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                      <div class="d-flex align-items-center">
                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                          <i class="ni ni-tag text-white opacity-10"></i>
                        </div>
                        <div class="d-flex flex-column">
                          <h6 class="mb-1 text-dark text-sm">Tickets</h6>
                          <span class="text-xs">123 closed, <span class="font-weight-bold">15 open</span></span>
                        </div>
                      </div>
                      <div class="d-flex">
                        <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
                      </div>
                    </li>
                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                      <div class="d-flex align-items-center">
                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                          <i class="ni ni-box-2 text-white opacity-10"></i>
                        </div>
                        <div class="d-flex flex-column">
                          <h6 class="mb-1 text-dark text-sm">Error logs</h6>
                          <span class="text-xs">1 is active, <span class="font-weight-bold">40 closed</span></span>
                        </div>
                      </div>
                      <div class="d-flex">
                        <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
                      </div>
                    </li>
                    <li class="list-group-item border-0 d-flex justify-content-between ps-0 border-radius-lg">
                      <div class="d-flex align-items-center">
                        <div class="icon icon-shape icon-sm me-3 bg-gradient-dark shadow text-center">
                          <i class="ni ni-satisfied text-white opacity-10"></i>
                        </div>
                        <div class="d-flex flex-column">
                          <h6 class="mb-1 text-dark text-sm">Happy users</h6>
                          <span class="text-xs font-weight-bold">+ 430</span>
                        </div>
                      </div>
                      <div class="d-flex">
                        <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <%- include('../layouts/footer') %>
        </div>
    </main>
    
    <!--   Core JS Files   -->
    <%- include('../layouts/script') %>
    <script src="/js/plugins/chartjs.min.js"></script>
    <script>
      const updateChart = async (type) => {
        const month = new Date().getMonth() + 1;
        const year = new Date().getFullYear();

        try {
          const response = await fetch(`/data-chart?type=${type}&year=${year}&month=${month}`);
          const result = await response.json();

          if (result.data) {
            const data = result.data;
            const chartData = {
              labels: data.labels,
              datasets: [{
                label: "Total Amount",
                tension: 0.4,
                borderWidth: 0,
                pointRadius: 0,
                borderColor: "#5e72e4",
                backgroundColor: gradientStroke1,
                borderWidth: 3,
                fill: true,
                data: data.datasets[0].data,
                maxBarThickness: 6
              }]
            };
            updateChartData(chartData);
          } else {
            console.error('Failed to fetch data');
          }
        } catch (error) {
          console.error('Error generating data chart:', error);
        }
      };

      const ctx1 = document.getElementById("chart-line").getContext("2d");
      const gradientStroke1 = ctx1.createLinearGradient(0, 230, 0, 50);
      gradientStroke1.addColorStop(1, 'rgba(94, 114, 228, 0.2)');
      gradientStroke1.addColorStop(0.2, 'rgba(94, 114, 228, 0.0)');
      gradientStroke1.addColorStop(0, 'rgba(94, 114, 228, 0)');

      let chartInstance = new Chart(ctx1, {
        type: "line",
        data: {
          labels: [],
          datasets: [{
            label: "Total Amount",
            tension: 0.4,
            borderWidth: 0,
            pointRadius: 0,
            borderColor: "#5e72e4",
            backgroundColor: gradientStroke1,
            borderWidth: 3,
            fill: true,
            data: [],
            maxBarThickness: 6
          }],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5]
              },
              ticks: {
                display: true,
                padding: 10,
                color: '#fbfbfb',
                font: {
                  size: 11,
                  family: "Open Sans",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
            x: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false,
                borderDash: [5, 5]
              },
              ticks: {
                display: true,
                color: '#ccc',
                padding: 20,
                font: {
                  size: 11,
                  family: "Open Sans",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
          },
        },
      });

      const updateChartData = (newData) => {
        chartInstance.data.labels = newData.labels;
        chartInstance.data.datasets[0].data = newData.datasets[0].data;
        chartInstance.update();
      };

      // Gọi hàm updateChart với type mặc định là 'day' khi tải trang
      updateChart('day');
    </script>
</body>
</html>