<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include('../layouts/head', { title: 'Order | Nom Nom' }) %>
    <style>
      #nav_order {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      #nav_order .arrow {
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color: #6a0dad;
        color: #fff;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
      }
      #pageSelect_order {
        padding: 5px;
        font-size: 1rem;
        text-align: center;
      }
    </style>

</head>
<body class="g-sidenav-show bg-gray-100">
    <div class="min-height-300 bg-primary position-absolute w-100"></div>
      
      <%- include('../partials/sidebar') %>
  
        <main class="main-content position-relative border-radius-lg ">
  
          <%- include('../partials/navbar') %>
  
          <div class="container-fluid py-4">
            <div class="row">
              <div class="col-12">
                <div class="card mb-4">
                  <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                    <h6>Order's table</h6>
                  </div>
                  <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                      <div class="row ps-4 align-items-center w-100">
                        <div class="col-2">
                          <label for="userNameInput" class="form-label">User Name</label>
                          <input type="text" id="userNameInput" class="form-control" placeholder="Enter name">
                        </div>
                        <div class="col-2">
                          <label for="storeNameInput" class="form-label">Store Name</label>
                          <input type="text" id="storeNameInput" class="form-control" placeholder="Enter store name">
                        </div>
                        <div class="col-2">
                          <label for="campusNameInput" class="form-label">Campus</label>
                          <input type="text" id="campusNameInput" class="form-control" placeholder="Enter campus name">
                        </div>
                        <div class="col-2">
                          <label for="areaNameInput" class="form-label">Area</label>
                          <input type="text" id="areaNameInput" class="form-control" placeholder="Enter area name">
                        </div> 
                        <div class="col-2">
                            <label for="createdDateInput" class="form-label">Created Date</label>
                            <input type="date" id="createdDateInput" class="form-control">
                        </div>
                        <div class="col-1">
                            <label for="statusInput" class="form-label">Status</label>
                            <select id="statusInput" class="form-select">
                                <option value="">All</option>
                                <option value="2">Success</option>
                                <option value="1">Canceled</option>
                                <option value="3">Waiting</option>
                            </select>
                        </div>                                             
                        <div class="col-1" style="margin: 45px 0 0 0 ; padding: 0;">
                          <button class="btn btn-primary w-100 " style="height: 40px;" onclick="applyFilters()">Apply Filters</button>
                        </div>
                      </div>                    
                      <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="col-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-10 ps-4">OrderId</th>
                                <th class="col-1 text-uppercase text-secondary text-xxs font-weight-bolder opacity-10 ps-2">Total</th>
                                <th class="col-1 text-uppercase text-secondary text-xxs font-weight-bolder opacity-10 ps-2">Quantity</th>
                                <th class="col-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-10 ps-2">StoreName</th>
                                <th class="col-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-10 ps-2">Campus</th>
                                <th class="col-1 text-uppercase text-secondary text-xxs font-weight-bolder opacity-10 ps-2">Area</th>
                                <th class="col-2 text-center text-secondary text-xxs font-weight-bolder opacity-10 ps-4">Status</th>
                                <th class="col-2 text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-10 ps-2">CreatedDate</th>
                                <th class="col-1 text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody id="orderTableBody">
                            <% orders.forEach(order => { %>
                                <tr style="cursor: pointer;" onClick="window.location.href='/order/<%= order.orderId %>'">
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="./images/order.png" class="avatar me-3" alt="stores">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm"><%= order.orderId %></h6>
                                                <p class="text-xs text-secondary mb-0">by <%= order.name %></p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs font-weight-bold mb-0"><%= order.price %></p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0"><%= order.quantity %></p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0"><%= order.storeName %></p>
                                    </td>
                                    <td>
                                      <p class="text-sm font-weight-bold mb-0"><%= order.campusName %></p>
                                    </td>
                                    <td>
                                      <p class="text-sm font-weight-bold mb-0"><%= order.areaName %></p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                      <span class="badge badge-sm bg-gradient-<% if (order.status === 1) { %>danger<% } else if (order.status === 2) { %>success<% } else if (order.status === 3) { %>warning<% } %>">
                                        <% if (order.status === 1) { %>
                                          Canceled
                                        <% } else if (order.status === 2) { %>
                                          Success
                                        <% } else if (order.status === 3) { %>
                                          Waiting
                                        <% } %>
                                      </span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold" style="margin-left: -20px">
                                          <%
                                            var date = new Date(order.createdDate);
                                            var day = ("0" + date.getDate()).slice(-2);
                                            var month = ("0" + (date.getMonth() + 1)).slice(-2);
                                            var year = date.getFullYear();
                                            var formattedDate = day + '-' + month + '-' + year;
                                          %>
                                          <%= formattedDate %>
                                        </span>
                                    </td>
                                    <!-- <td class="align-middle">
                                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs" style="margin-right: 20px;" data-bs-toggle="modal" data-bs-target="#editOrderModal" onclick="storeModal('<%= order.orderId %>', '<%= order.name %>', '<%= order.price %>', '<%= order.quantity %>', '<%= order.storeName %>', '<%= order.status %>', '<%= order.createdDate %>')">
                                            Edit
                                        </a>
                                    </td> -->
                                </tr>
                            <% }) %>                        
                        </tbody>
                      </table>                    
                      <div id="nav_order" class="d-flex justify-content-center align-items-center mt-3">
                        <div class="arrow" id="prevPage_order">&lt;</div>
                        <select id="pageSelect_order" class="form-select mx-2" style="width: 100px;"></select>
                        <div class="arrow" id="nextPage_order">&gt;</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <%- include('../layouts/footer') %>
  
          </div>
        </main>      
  
      <!-- JS Handle FUNCTION -->
      <script>
        const navOrder = document.getElementById('nav_order');
        const tbodyOrder = document.getElementById('orderTableBody');
        let pageIndex = 0;
        let itemsPerPage = 16;
        let isLoading = false;

        const filterState = {
          userName: null,
          status: null,
          storeName: null,
          createdDate: null
        };

        function applyFilters() {
          const userName = document.getElementById('userNameInput').value;
          const createdDate = document.getElementById('createdDateInput').value;
          const status = document.getElementById('statusInput').value;
          const storeName = document.getElementById('storeNameInput').value;
          const campusName = document.getElementById('campusNameInput').value;
          const areaName = document.getElementById('areaNameInput').value;

          filterState.userName = userName;
          filterState.status = status;
          filterState.storeName = storeName;
          filterState.createdDate = createdDate;
          filterState.campusName = campusName;
          filterState.areaName = areaName;
          console.log('Filters applied:', filterState);
          pageIndex = 0;
          fetchOrders(filterState);
        }

        async function fetchOrders(filters = {}) {
          if (isLoading) return;
          isLoading = true;
          
          const validFilters = Object.fromEntries(
            Object.entries(filters).filter(([key, value]) => value !== undefined && value !== null && value !== '')
          );

          const queryParams = new URLSearchParams(validFilters).toString();

          try {
            const response = await fetch(`/order?${queryParams}`);
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }

            const data = await response.text();
            tbodyOrder.innerHTML = '';

            const parser = new DOMParser();
            const doc = parser.parseFromString(data, 'text/html');

            const newTbody = doc.getElementById('orderTableBody');
            if (newTbody) {
              const orders = Array.from(newTbody.childNodes);
              const paginatedOrders = orders.slice(pageIndex * itemsPerPage, (pageIndex * itemsPerPage) + itemsPerPage);
              paginatedOrders.forEach(order => {
                tbodyOrder.appendChild(order);
              });

              loadPageNavOrder(orders, navOrder);
            } else {
              console.error('New tbody not found in fetched data');
            }
          } catch (error) {
            console.error('Error fetching orders:', error);
          } finally {
            isLoading = false; // Mở khóa sau khi tải dữ liệu xong
          }
        }

        function loadPageNavOrder(orders, navOrder) {
          const prevPage = document.getElementById('prevPage_order');
          const nextPage = document.getElementById('nextPage_order');
          const pageSelect = document.getElementById('pageSelect_order');
          pageSelect.innerHTML = "";
          const totalItems = orders.length;
          const totalPages = Math.ceil(totalItems / itemsPerPage);

          for (let i = 0; i < totalPages; i++) {
            const option = document.createElement('option');
            option.value = i;
            option.innerHTML = `Page ${i + 1} `;
            pageSelect.appendChild(option);
          }

          pageSelect.value = pageIndex;

          pageSelect.addEventListener('change', (e) => {
            const selectedPageIndex = parseInt(e.target.value, 10);
            if (selectedPageIndex !== pageIndex) {
              pageIndex = selectedPageIndex;
              fetchOrders(filterState);
            }
          });

          prevPage.addEventListener('click', () => {
            if (pageIndex > 0 && !isLoading) {
              pageIndex--;
              fetchOrders(filterState);
              pageSelect.value = pageIndex;
            }
          });

          nextPage.addEventListener('click', () => {
            if (pageIndex < totalPages - 1 && !isLoading) {
              pageIndex++;
              fetchOrders(filterState);
              pageSelect.value = pageIndex;
            }
          });
        }

        function updateOrderActivePage(navOrder, pageIndex) {
          const spans = nav.querySelectorAll('span');
          spans.forEach((span, index) => {
            if (index === pageIndex) {
              span.classList.add('active');
            } else {
              span.classList.remove('active');
            }
          });
        }

        document.addEventListener('DOMContentLoaded', (event) => {
          fetchOrders();
        });
      </script>
  
      <!--   Core JS Files   -->
      <%- include('../layouts/script') %>
  </body>
</html>