<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('../layouts/head', { title: `StoreDetail | Nom Nom` }) %>
  <style>
    .align-middle .btn {
      padding: 0.25rem 1rem;
      font-size: 0.75rem;
      margin-bottom: 0;
    }
    #nav_food {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #nav_food .arrow {
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: #6a0dad;
      color: #fff;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
    }
    #pageSelect_food {
      padding: 5px;
      font-size: 1rem;
      text-align: center;
    }
  </style>

</head>
<body class="g-sidenav-show bg-gray-100">
  <div class="position-absolute w-100 min-height-300 top-0" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/profile-layout-header.jpg'); background-position-y: 50%;">
    <span class="mask bg-primary opacity-6"></span>
  </div>
  
  <%- include('../partials/sidebar') %>
  
  <div class="main-content position-relative max-height-vh-100 h-100">
    <%- include('../partials/navbar') %>
        
    <div class="container-fluid py-4">
      <div class="row">

        <div class="col-md-8">
          <div class="card">
            <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                  <h6>Store's table</h6>
                  <a href="javascript:;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addFormModal">
                    Add <i class="ni ni-fat-add fs-7"></i>
                  </a>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <div class="row ps-4 align-items-center w-100">
                  <div class="col-3">
                      <label for="cateInput" class="form-label">Category</label>
                      <select id="cateInput" class="form-select">
                          <option value="">All</option>
                          <option value="1">Cate 1</option>
                          <option value="2">Cate 2</option>
                          <option value="3">Cate 3</option>
                      </select>
                  </div>                        
                  <div class="col-2" style="margin: 45px 0 0 0 ; padding: 0;">
                    <button class="btn btn-primary w-100 " style="height: 40px;" onclick="applyFilters()">Apply Filters</button>
                  </div>
                </div>
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="col-3 text-uppercase text-secondary text-xxs font-weight-bolder opacity-10 ps-7">Name</th>
                      <th class="col-1 text-uppercase text-secondary text-xxs font-weight-bolder opacity-10 ps-2">Description</th>
                      <th class="col-1 text-uppercase text-secondary text-xxs font-weight-bolder opacity-10 ps-2">Price</th>
                      <th class="col-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-10">Category</th>
                      <th class="col-2 text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-10" style="padding: 12px;">Status</th>
                      <th class="col-2 text-uppercase text-secondary text-xxs font-weight-bolder opacity-10 ps-2">CreatedDate</th>
                      <th class="col-1 text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody id="foodTableBody">
                    <% foods.forEach(product => { %>
                      <tr style="cursor: pointer;" onClick="window.location.href='/store/<%= product.storeId %>/product/<%= product.foodId %>'">
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div>
                              <img src="<%= product.image %>" class="avatar me-3" alt="food image" data-image-load-anim>
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm"><%= product.foodId %></h6>
                              <p class="text-xs text-secondary mb-0"><%= product.title %></p>
                            </div>
                          </div>
                        </td>
                        <td>
                          <p class="text-xs font-weight-bold mb-0" style="text-overflow: ellipsis;"><%= product.description %></p>
                        </td>
                        <td>
                          <p class="text-sm font-weight-bold mb-0"><%= product.price %></p>
                        </td>
                        <td>
                          <p class="text-sm text-center font-weight-bold mb-0"><%= product.cate %></p>
                        </td>
                        <td class="align-middle text-center text-sm ">
                          <span class="badge badge-sm bg-gradient-<%= product.status === 1 ? 'success' : 'danger' %>">
                            <%= product.status === 1 ? 'Active' : 'Inactive' %>
                          </span>
                        </td>
                        <td class="align-middle">
                          <span class="text-secondary text-xs font-weight-bold ps-0">
                            <%
                              var date = product.createdDate.split('T')[0];
                              var parts = date.split('-');
                              var formattedDate = parts[2] + '-' + parts[1] + '-' + parts[0];
                            %>
                            <%= formattedDate %>
                          </span>
                        </td>
                        <td class="align-middle justify-content-center">
                          <a href="javascript:;" class="btn btn-sm btn-secondary btn-custom font-weight-bold text-xs" data-bs-toggle="modal" data-bs-target="#editFoodModal" onclick="event.stopPropagation();  foodModal('<%= product.foodId %>', '<%= product.title %>', '<%= product.description %>', '<%= product.price %>', '<%= product.cate %>', '<%= encodeURIComponent(product.image) %>')">
                            Edit
                          </a>                          
                        </td>
                      </tr>
                    <% }) %>
                  </tbody>                                     
                </table>
                <div id="nav_food" class="d-flex justify-content-center align-items-center mt-3">
                  <div class="arrow" id="prevPage_food">&lt;</div>
                  <select id="pageSelect_food" class="form-select mx-2" style="width: 100px;"></select>
                  <div class="arrow" id="nextPage_food">&gt;</div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div class="col-md-4">
            <div class="card card-profile">
              <img src="/images/store_bg.png" alt="Image placeholder" class="card-img-top">
              <div class="row justify-content-center">
                <div class="col-4 col-lg-4 order-lg-2">
                  <div class="mt-n4 mt-lg-n6 mb-4 mb-lg-0">
                    <a href="javascript:;">
                      <img src="/images/store.png" class="rounded-circle img-fluid border border-2 border-white">
                    </a>
                  </div>
                </div>
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col">
                    <div class="d-flex justify-content-center">
                      <div class="d-grid text-center">
                        <span id="totalFoods" class="text-lg font-weight-bolder"></span>
                        <span class="text-sm opacity-8">Total Foods</span>
                      </div>
                      <div class="d-grid text-center mx-4">
                        <span class="text-lg font-weight-bolder"></span>
                        <span class="text-sm opacity-8"></span>
                      </div>
                      <div class="d-grid text-center">
                        <span id="totalOrders" class="text-lg font-weight-bolder"></span>
                        <span class="text-sm opacity-8">Total Orders</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-center mt-4">
                  <h5 id="storeName">
                    <span class="font-weight-light"></span>
                  </h5>
                </div>
              </div>
            </div>
          </div>
      </div>
      
      <%- include('../layouts/footer') %>

    </div>
  </div>

  <!-- Add Store Modal -->
  <div class="modal fade" id="addFormModal" tabindex="-1" aria-labelledby="addFormModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-bottom">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addFormModalLabel">Add New Food</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="addFoodForm" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="foodName-add" class="form-label">Food Name</label>
              <input type="text" class="form-control" id="foodName-add" required>
            </div>
            <div class="mb-3">
              <label for="foodTitle-add" class="form-label">Title</label>
              <input type="text" class="form-control" id="foodTitle-add" required>
            </div>
            <div class="mb-3">
              <label for="foodDescription-add" class="form-label">Description</label>
              <input type="text" class="form-control" id="foodDescription-add" required>
            </div>
            <div class="mb-3">
              <label for="foodPrice-add" class="form-label">Price</label>
              <input type="text" class="form-control" id="foodPrice-add" required>
            </div>
            <div class="mb-3">
              <label for="foodCate-add" class="form-label">Category</label>
              <select class="form-select" id="foodCate-add">
                <option value="1">Cate 1</option>
                <option value="2">Cate 2</option>
                <option value="3">Cate 3</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="foodImage-add" class="form-label">Image</label>
              <input type="file" class="form-control" id="foodImage-add" accept="image/*" onchange="previewImage(event, 'imagePreview-add')">
              <img id="imagePreview-add" src="#" alt="Image Preview" style="display:none; max-width: 100%; height: 80%; padding-top: 10px;">
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" id="saveFoodBtn" class="btn btn-primary" form="addFoodForm">Add Store</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Food Modal -->
  <div class="modal fade" id="editFoodModal" tabindex="-1" aria-labelledby="editFoodModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-bottom">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editFoodModalLabel">Edit Food</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="editFoodForm" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="foodId" class="form-label">Food ID</label>
              <input type="text" class="form-control" id="foodId" readonly>
            </div>
            <div class="mb-3">
              <label for="foodTitle" class="form-label">Title</label>
              <input type="text" class="form-control" id="foodTitle" required>
            </div>
            <div class="mb-3">
              <label for="foodDescription" class="form-label">Description</label>
              <input type="text" class="form-control" id="foodDescription" required>
            </div>
            <div class="mb-3">
              <label for="foodPrice" class="form-label">Price</label>
              <input type="text" class="form-control" id="foodPrice" required>
            </div>
            <div class="mb-3">
              <label for="foodCate" class="form-label">Category</label>
              <select class="form-select" id="foodCate">
                <option value="1">Cate 1</option>
                <option value="2">Cate 2</option>
                <option value="3">Cate 3</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="foodImage" class="form-label">Image</label>
              <input type="file" class="form-control" id="foodImage" accept="image/*" onchange="previewImage(event, 'imagePreview')">
              <img id="imagePreview" src="" alt="Food Image" style="display:none; max-width: 100%; height: 80%; padding-top: 10px;">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="deleteFoodBtn">Delete</button>
          <div class="ms-auto">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" id="updateFoodBtn" class="btn btn-primary" form="editFoodForm">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- JS Handle FUNCTION -->
  <script>
    // Preview image in modal
    function previewImage(event, previewId) {
      var input = event.target;
      var reader = new FileReader();
      reader.onload = function() {
        var dataURL = reader.result;
        var imagePreview = document.getElementById(previewId);
        imagePreview.src = dataURL;
        imagePreview.style.display = 'block';
      };
      reader.readAsDataURL(input.files[0]);
    }

    // Show data of food in update modal
    function foodModal(id, title, description, price, cate, image) {
      console.log("Function called");
      console.log("Image URL:", decodeURIComponent(image));

      document.getElementById('foodId').value = id;
      document.getElementById('foodTitle').value = title;
      document.getElementById('foodDescription').value = description;
      document.getElementById('foodPrice').value = price;
      document.getElementById('foodCate').value = cate;

      var imagePreview = document.getElementById('imagePreview');
      imagePreview.src = decodeURIComponent(image);
      imagePreview.style.display = 'block';

      console.log("Image src set to:", imagePreview.src);
    }

    function getStoreIdFromUrl() {
      const pathSegments = window.location.pathname.split('/');
      return pathSegments[pathSegments.length - 1];
    }

    const filterState = {
      cate: null
    };

    const navFood = document.getElementById('nav_food');
    const tbodyFood = document.getElementById('foodTableBody');
    let pageIndex = 0;
    let itemsPerPage = 16;
    let isLoading = false;

    function applyFilters() {
      const cate = document.getElementById('cateInput').value;

      filterState.cate = cate;
      console.log('Filters applied:', filterState);
      pageIndex = 0;
      fetchFoods(filterState);
    }

    async function fetchStoreData() {
      const storeId = getStoreIdFromUrl();

      try {
        const response = await fetch(`/food/storeData?storeId=${storeId}`);
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }

        const result = await response.json();
        console.log('Fetched Store Data:', result);

        if (result) {
          const data = result;
          document.getElementById('storeName').innerText = data.storeName;
          document.getElementById('totalFoods').innerText = data.totalFoods;
          document.getElementById('totalOrders').innerText = data.totalOrders;
          document.title = data.storeName + " | NomNom";
        }        
      } catch (error) {
        console.error('Error fetching store data:', error);
      }
    }

    async function fetchFoods(filters = {}) {
      const storeId = getStoreIdFromUrl();
      if (isLoading) return;
      isLoading = true;

      const validFilters = Object.fromEntries(
        Object.entries(filters).filter(([key, value]) => value !== undefined && value !== null)
      );

      const queryParams = new URLSearchParams(validFilters).toString();

      try {
        const response = await fetch(`/food?storeId=${storeId}&${queryParams}`);
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }

        const data = await response.text();
        tbodyFood.innerHTML = '';

        const parser = new DOMParser();
        const doc = parser.parseFromString(data, 'text/html');

        const newTbody = doc.getElementById('foodTableBody');
        if (newTbody) {
          const foods = Array.from(newTbody.childNodes);
          const paginatedFoods = foods.slice(pageIndex * itemsPerPage, (pageIndex * itemsPerPage) + itemsPerPage);
          paginatedFoods.forEach(food => {
            tbodyFood.appendChild(food);
          });

          loadPageFood(foods, navFood);
        } else {
          console.error('New tbody not found in fetched data');
        }
      } catch (error) {
        console.error('Error fetching foods:', error);
      } finally {
        isLoading = false;
      }
    }

    function loadPageFood(foods, navFood) {
      const prevPage = document.getElementById('prevPage_food');
      const nextPage = document.getElementById('nextPage_food');
      const pageSelect = document.getElementById('pageSelect_food');
      pageSelect.innerHTML = "";
      const totalItems = foods.length;
      const totalPages = Math.ceil(totalItems / itemsPerPage);

      for (let i = 0; i < totalPages; i++) {
        const option = document.createElement('option');
          option.value = i;
          option.innerHTML = `Page ${i + 1} `;
          pageSelect.appendChild(option);
      }

      pageSelect.value = pageIndex;

      pageSelect.addEventListener('change', (e) => {
        const selectedPageIndex = parseInt(e.target.value, 10);
        if (selectedPageIndex !== pageIndex) {
          pageIndex = selectedPageIndex;
          fetchFoods(filterState);
        }
      });

      prevPage.addEventListener('click', () => {
        if (pageIndex > 0 && !isLoading) {
          pageIndex--;
          fetchFoods(filterState);
          pageSelect.value = pageIndex;
        }
      });

      nextPage.addEventListener('click', () => {
        if (pageIndex < totalPages - 1 && !isLoading) {
          pageIndex++;
          fetchFoods(filterState);
          pageSelect.value = pageIndex;
        }
      });
    }

    function updateActivePage(navFood, pageIndex) {
      const spans = nav.querySelectorAll('span');
      spans.forEach((span, index) => {
        if (index === pageIndex) {
          span.classList.add('active');
        } else {
          span.classList.remove('active');
        }
      });
    }

    document.addEventListener("DOMContentLoaded", function() {
      fetchFoods();
      fetchStoreData();

      // Add foods
      document.getElementById('addFoodForm').addEventListener('submit', async function(event) {
        event.preventDefault();

        const storeId = getStoreIdFromUrl();
        const foodName = document.getElementById('foodName-add').value;
        const foodTitle = document.getElementById('foodTitle-add').value;
        const foodDescription = document.getElementById('foodDescription-add').value;
        const foodPrice = document.getElementById('foodPrice-add').value;
        const foodCate = document.getElementById('foodCate-add').value;
        const foodImage = document.getElementById('foodImage-add').files[0];

        if (!foodName || !foodTitle || !foodDescription || !foodPrice || !foodCate || !foodImage) {
          alert('Please fill in all required fields.');
          return;
        }

        const formData = new FormData();
        formData.append('Name', foodName);
        formData.append('Title', foodTitle);
        formData.append('Description', foodDescription);
        formData.append('Price', foodPrice);
        formData.append('Cate', parseInt(foodCate, 10));
        formData.append('Image', foodImage);

        try {
          console.log("Form Data:", formData);
          const response = await fetch(`/food/addFood?storeId=${storeId}`, {
            method: 'POST',
            body: formData,
          });

          if (response.ok) {
            const addResult = await response.json();
            if (addResult.isSuccess) {
              alert('Food added successfully!');
              location.reload();
            } else {
              alert('Failed to added food: ' + (addResult.data ? addResult.data.message : addResult.error));
            }
          } else {
            const errorData = await response.json();
            console.error('Error data:', errorData);
            alert('Failed to connect to the server. Please try again later.');
          }
        } catch (error) {
          console.error('Error:', error);
          alert('An error occurred: ' + error.message);
        }
      });

      // Update foods
      document.getElementById('updateFoodBtn').addEventListener('click', async function(event) {
        event.preventDefault();

        const foodId = document.getElementById('foodId').value;
        const foodTitle = document.getElementById('foodTitle').value;
        const foodDescription = document.getElementById('foodDescription').value;
        const foodPrice = document.getElementById('foodPrice').value;
        const foodCate = document.getElementById('foodCate').value;
        const foodImage = document.getElementById('foodImage').files[0];

        if (!foodTitle || !foodDescription || !foodPrice || !foodCate) {
          alert('Please fill in all required fields.');
          return;
        }

        const formData = new FormData();
        formData.append('Title', foodTitle);
        formData.append('Description', foodDescription);
        formData.append('Price', foodPrice);
        formData.append('Cate', parseInt(foodCate, 10));
        formData.append('Image', foodImage);

        try {
          const response = await fetch(`/food/updateFood?foodId=${foodId}`, {
            method: 'PUT',
            body: formData,
          });

          if (response.ok) {
            const updateResult = await response.json();
            if (updateResult.isSuccess) {
              alert('Food updated successfully!');
              location.reload();
            } else {
              alert('Failed to update food: ' + (updateResult.data ? updateResult.data.message : updateResult.error));
            }
          } else {
            const errorData = await response.json();
            console.error('Error data:', errorData);
            alert('Failed to connect to the server. Please try again later.');
          }
        } catch (error) {
          console.error('Error:', error);
          alert('An error occurred: ' + error.message);
        }
      });

      // Delete foods
      document.getElementById('deleteFoodBtn').addEventListener('click', async function () {
        const foodId = document.getElementById('foodId').value;

        const response = await fetch('/food/deleteFood', {
          method: 'DELETE',
          headers: {
            'content-type': 'application/json'
          },
          body: JSON.stringify({
            foodId: foodId
          })
        });

        const deleteResult = await response.json();
        if (!deleteResult.error) {
          alert("Food deleted successfully!");
          location.reload();
        } else {
          alert("Failed to delete food: " + deleteResult.error);
        }
      });
    });
  </script>

  <!--   Core JS Files   -->
  <%- include('../layouts/script') %>
</body>
</html>